<div id="carousel-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {{each msg}}
      <li data-target="#carousel-generic" data-slide-to="{{$index}}" 
            {{if $index=== 0}}
                  class="active"
            {{/if}}>
      </li>
    {{/each}}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {{each msg as value index}}
    <div  {{if index==0}}class="item active"{{else}}class="item"{{/if}}>
      <img src="{{value.newspic}}" alt="{{value.title}}" width=320 height=200>
      <div class="carousel-caption">
        <p><a href="http://alumni.sut.edu.cn/news_list.asp?classid={{value.classid}}&id={{value.id}}">{{value.title}}</a></p>
      </div>
    </div>
    {{/each}}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>