<div class="logo"></div>
<div class="links">
	<ul>
		<li><a href="http://www.sut.edu.cn/">工大首页</a></li>
		<li><a href="">理事会</a></li>
		<li><a href="">基金会（筹）</a></li>
		<li><a class="last" href="http://history.sut.edu.cn/">校史馆</a></li>
	</ul>
</div>
<div class="header_back"></div>
<div id="carousel"></div>
<div id="navbar"></div>
<div id="findMe">
	<ul>
		<li><a id="weibo" href="javascript:void()"><img src="../images/weibo.gif"></a></li>
		<li><a id="weixin" href="javascript:void()"><img src="../images/weixin.gif"></a></li>
		<li><a id="qq" href="javascript:void()"><img src="../images/qq.gif"></a></li>
	</ul>
</div>
<div id="modal"></div>