<div id="weibo_modal" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="沈阳工业大学官方微博账号" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">沈阳工业大学微博</h4>
      </div>
      <div class="modal-body">
      	<div class="well">
      		<img src="../images/weibo.png" alt="沈阳工业大学微博" width=150 height=150>
      	</div>
      	<div class="well" id="weibo_frame">
      		<iframe name="main1" width="100%" height="450" class="share_self"  src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=490&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=1802336443&verifier=9bc28858&dpc=1" scrolling="no" frameborder="0" allowtransparency="0" mytubeid="mytube6"></iframe>
      	</div>
      </div>
    </div>
  </div>
</div>

<div id="weixin_modal" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="校友总会微官网" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">校友总会微官网</h4>
      </div>
      <div class="modal-body">
      	<div class="well">
      		<img src="../images/weixin.jpg" alt="校友总会微官网" width=150 height=150>
      	</div>
      	<div class="well" id="weixin_frame">
      		
      	</div>
      </div>
    </div>
  </div>
</div>

<div id="qq_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="QQ在线" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">QQ在线</h4>
      </div>
      <div class="modal-body">
      	<p>
      		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2498601902&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2498601902:47 &r=0.7582866831216961" alt="1" title="1">沈阳工业大学校友总会</a>
      	</p>
      	<p>
      		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=30033228&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:30033228:47 &r=0.7582866831216961" alt="1" title="1">宋老师</a>
      	</p>
      </div>
    </div>
  </div>
</div>