<nav class="navbar navbar-inverse" role="navigation">
      <ul class="nav navbar-nav">
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               新闻中心
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="http://alumni.sut.edu.cn/main.asp?classid=28">工大要闻</a></li>
               <li><a href="http://alumni.sut.edu.cn/xydt.asp">校友动态</a></li>
               <li><a href="http://alumni.sut.edu.cn/main.asp?classid=1">学院信息</a></li>
               <li><a href="http://alumni.sut.edu.cn/main.asp?classid=2">媒体工大</a></li>
               <li><a href="http://alumni.sut.edu.cn/main.asp?classid=3">人物工大</a></li>
               <li><a href="http://alumni.sut.edu.cn/main.asp?classid=11">合作信息</a></li>
            </ul>
         </li>
         <li><a href="http://alumni.sut.edu.cn/gdfh.asp">校友组织</a></li>
         <li><a href="http://alumni.sut.edu.cn/main.asp?classid=23">校友活动</a></li>
         <li class="active"><a href="#">校友总会首页</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               校友刊物
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="http://alumni.sut.edu.cn/xytx.asp">《校友通讯》</a></li>
            </ul>
         </li>
         <li><a href="#">校友捐赠</a></li>
         <li><a href="http://alumni.sut.edu.cn/book.asp">联系我们</a></li>
      </ul>
</nav>