<div class="panel panel-default" role="tabpanel">
	<ul class="nav nav-tabs" role="tablist">
            {{each msg as data index}}
  		<li role="presentation" {{if index===0}}class="active"{{/if}}>
  			{{if index===0}}<a href="#mainNews"　aria-controls="mainNews" data-toggle="tab">工大要闻</a>{{/if}}
                    {{if index===1}}<a href="#alumniInfo" aria-controls="alumniInfo" data-toggle="tab">校友动态</a>{{/if}}
                    {{if index===2}}<a href="#collageStats" aria-controls="collageStats" data-toggle="tab">学院动态</a>{{/if}}
                    {{if index===3}}<a href="#medias" aria-controls="medias" data-toggle="tab">媒体工大</a>{{/if}}
                    {{if index===4}}<a href="#members" aria-controls="members" data-toggle="tab">人物工大</a>{{/if}}
  		</li>
            {{/each}}
	</ul>
	<div class="tab-content add-more">
            {{each msg as data index}}
  		{{if index===0}}<div role="tabpanel" class="tab-pane active" id="mainNews">{{/if}}
             {{if index===1}}<div role="tabpanel" class="tab-pane" id="alumniInfo">{{/if}}
             {{if index===2}}<div role="tabpanel" class="tab-pane" id="collageStats">{{/if}}
             {{if index===3}}<div role="tabpanel" class="tab-pane" id="medias">{{/if}}
             {{if index===4}}<div role="tabpanel" class="tab-pane" id="members">{{/if}}
  			<ul class="list-group">
				{{each data as value}}
  				<li class="list-group-item">
  					<a href="http://alumni.sut.edu.cn/news_list.asp?classid={{value.classid}}&id={{value.id}}" target="_blank">
  						<span class="title">{{value.title}}</span><span class="pull-right">{{value.time}}</span>
  					</a>
  				</li>
  				{{/each}}
  			</ul>
            </div>
            {{/each}}
            <a href="javascript:void(0);" class="more"></a>
  	</div>
</div>